@import './App.scss';

.footer{
  background: $base-yellow;
  height: 10vh;
  display:flex;
  align-items: center;
  margin: -0.5rem -3.5rem;
  margin-top: -2rem;
  position: relative;
}

.f-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  color: $base-green;
}

.f-icons{
  display: flex;
  gap: 1rem;
}

.f-icons > * {
  color: $base-green;
  
  &:hover {
    color: $dark-yellow;
    font-size: large;
  }
}

/*  Small Device Styles */
@media (max-width: 500px) {
  .footer{
    background: transparent;
    height: 10vh;
    display:flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    margin-top: -2rem;
    position: relative;
  }
  
  .f-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    color: $base-yellow;
    padding-bottom: 1rem;
  }

  .f-content >:nth-child(1){
    display:none;
  }
  
  .f-icons{
    display: flex;
    gap: 1rem;
  }
  
  .f-icons > * {
    color: $base-yellow;
    
    &:hover {
      color: white;
      font-size: large;
    }
  }
}