@import './App.scss';


.lh-wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: 10rem;
  margin-right: 10rem;
  padding-bottom: 3rem;
  position: relative;
  gap: 5%;
}

.series-title{
  font-family: $third-font;
}

.lh-wrapper .swiper {
  width: 100%;
  height: 100%;
  // padding: 2rem;
  text-align: start;
  margin-bottom: 5rem;
}

.lh-wrapper .swiper-slide{
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

*::-webkit-scrollbar {
  background: transparent;
}
// *::-webkit-scrollbar-track {
//   background: $lighter-green;
//   border-radius: 20px;
// }

// *::-webkit-scrollbar-thumb {
//   background-color:$base-yellow;
//   border-radius: 20px;
//   border: 1px solid $base-yellow;
// }

.lh-wrapper .swiper-horizontal>.swiper-pagination-bullets{
  background: rgba($gray, 0.1);
  border-radius: 50px;
  width: 15rem;
  left: 3rem;
}

.lh-wrapper .swiper-pagination-bullet-active{
  background: $dark-yellow;
}

.lh-wrapper .swiper-button-next:after{
  color: $dark-yellow;
}

.lh-wrapper .swiper-button-prev:after{
  color: $dark-yellow;
}

.book-info{
  display: flex;
  flex-direction: row;
  padding: 2rem;
  margin-bottom: 5rem;
  gap: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.book-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-left .AmazonButton{
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 12px;
  padding: 8px 18px 8px 18px;
  background: black;
  align-items: center;

  &:hover{
    cursor: pointer;
    background-color: white;
    border: 1px;
    color: black;
  }
}

.book-left > img {
  width: 240px;
  height: 365px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  margin: 5%;
}

.book-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-size: normal;
}

.book-right>:nth-child(1){
  color: $base-yellow;
  font-family: $second-font;
  font-weight: bold;
  font-size: x-large;
  text-align: start;
}

/*  Small Device Styles */
@media (max-width: 500px) {
  .lh-wrapper{
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-bottom: 1rem;
    position: relative;
  }

  .lh-wrapper .swiper {
    width: 100%;
    height: auto;
    // padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .book-info{
    display: flex;
    flex-direction: column;
    padding: 0rem;
    margin-bottom: 3rem;
    gap: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .lh-wrapper .swiper-button-next:after{
    display: none;
  }
  
  .lh-wrapper .swiper-button-prev:after{
    display: none;
  }

  .book-right{
    align-items: center;
    gap: 1rem;
  }

  // *::-webkit-scrollbar {
  //   display: none;
  // }
  
  .lh-wrapper .swiper-horizontal>.swiper-pagination-bullets{
    all:revert;
  }

  .lh-wrapper .swiper-pagination-bullet{
    background: white;
    opacity: 0.5;
  }

  .lh-wrapper .swiper-pagination-bullet-active{
    background: $dark-yellow;
    opacity: 1;
  }

}

// /*  Small to Medium Device Styles */
// @media (min-width: 501px) and (max-width: 740px) {
// }