@import './App.scss';

.n-wrapper{
  margin: -0.5rem -3.5rem;
  height: 10vh;
  width: 100%;
  font-family: $second-font;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

.n-button{
  display:none;
}

.n-left{
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 3.5rem;
}

.n-name{
  font-size: large;
  font-weight: 700;
}

.n-name > a:any-link{
  color: $base-yellow;
  
  &:hover {
    color: $dark-yellow;
    font-size: large;
  }
}

.n-list{
  flex: 6;
}

.n-list > ul{
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  justify-content: flex-start;
}

.n-list > ul :hover{
  cursor: pointer;
  color: $dark-yellow;
  font-weight: 700;
}

.n-right{
  flex: 1;
  display: flex;
  align-items: center;
  padding-right: 10%;
}

.n-icons {
 flex: 6;
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 gap: 1rem; 
}

.n-icons > * {
  color: $base-yellow;
  
  &:hover {
    color: $dark-yellow;
    font-size: large;
  }
}

/*  Small Device Styles */
@media (max-width: 500px) {
  .n-wrapper{
    margin: -0.5rem -3.5rem;
    height: 10vh;
    width: 100%;
    font-family: $second-font;
    font-weight: normal;
    display: flex;
    background: $base-green;
    z-index: 5;
    position: fixed;
  }

  .n-button{
    position: absolute;
    display: flex;
    right: 40px;
    margin-top: 1rem;
    border: 2px solid;
    padding: 2px 20px;
    border-radius: 50px;
    background: $base-green;
    cursor: pointer;
  }

  .n-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }

  .n-button > button {
    background: transparent;
    color: $base-yellow;
    border: none;
    outline:none;
  }

  .n-name{
    margin-top: 1.5rem;
    margin-left:  1.5rem;
  }

  .n-list{
    position: fixed;
    z-index: 0;
    background: $base-green;
    padding-top: 5vh;
    width: 100%;
    transition: 1s;
    transform: translateY(-20vh);
  }

  .responsive_nav{
    transform: none;
  }

  .n-list > ul{
    display: flex;
    gap: 0.5rem;
    margin-right: 3.5rem;
    flex-direction: column;
    align-items: flex-end;
  }

  .n-right{
    display: none;
  }
}

/*  Smaller Tablet Styles */
@media (min-width: 501px) and (max-width: 905px) {
  .n-wrapper{
    margin: -0.5rem -3.5rem;
    background: $base-green;
    z-index: 5;
    position: fixed;
  }

  .n-left{
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
  }
  
  .n-name{
    font-size: 1rem;
    font-weight: 700;
    width: 10rem;
  }
   
   .n-list > ul{
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
    margin-left: -3rem;
    justify-content: flex-start;
    width: 5rem;
  }
    
  .n-right{
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 10%;
  }
  
  .n-icons {
   flex: 6;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   gap: 1rem; 
  }
}

/*  Desk Top Styles */
@media only screen and (min-width: 906px) {
  .n-wrapper{
    margin-top: -0.5rem;
    height: 10vh;
    width: 100%;
    font-family: $second-font;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    background: $base-green;
    position: fixed;    
  }
}
